.AppOn {
  display: flex;
  border: 1px solid black;
  width: 450px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: green;
  font-size: 1rem;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 60%;
  border-radius: 20px;
}
.AppOff {
  display: flex;
  border: 1px solid black;
  width: 450px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: red;
  font-size: 1rem;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 60%;
  border-radius: 20px;
}
.bi {
  font-size: 5rem;
}
.App h1 {
  text-align: center;
}
.answer {
  margin: 1rem;
}
.bttn {
  background-color: rgb(207, 16, 16);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .App {
    width: 75vw;
  }
}
